:root {
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --black-color: #363636;
    --white-color: #fff;
    --green-color: rgb(68, 127, 116);
    --active-color: #605e5e;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .active-color {
    color: var(--active-color);
  }
  
  body {
    margin: 0;
    padding: 0;
    color: var(--black-color);
    font-family: var(--primary-font);
    background-color: var(--white-color);
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header.flex-center {
    width: 100%;
    height: 79px;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 80px;
    box-sizing: border-box;
    justify-content: space-between;
    z-index: 100;
  }
  
  header a {
    font-size: 16px;
    color: var(--black-color);
    transition: 0.5s ease;
  }
  
  header a:hover {
    color: var(--green-color);
  }
  
  header nav ul {
    gap: 25px;
  }
  
  header nav a {
    font-size: 14px;
  }
  
  main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 79px 80px 0;
    box-sizing: border-box;
  }
  
  main section {
    width: 100%;
  }
  
  main section.banner {
    height: 821px;
    background-image: url("https://static.wixstatic.com/media/9a25f2_d1f2ab46fec94c389da36281a1253780~mv2_d_4200_2800_s_4_2.jpg/v1/fill/w_2383,h_821,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9a25f2_d1f2ab46fec94c389da36281a1253780~mv2_d_4200_2800_s_4_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  main section.about{
    width: 100%;
  }
  main section.about i{
    font-family: italic;
    font-size: 18px;
    color: var(--active-color);
    display: block;
    text-align: center;
    margin-top: 38px;
  
  }
  main section.about div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.about p{
    width: 600px;
    height: 128px;
    display: inline-block;
    text-align: center;
    font:20px var(--primary-font);
    line-height: 1.6em;
    margin-top: 65px;
    margin-bottom: 45px;
    color: var(--black-color);
  }
  main div.line {
  width: 0.8px;
    height: 70px;
    border-left: 0.8px solid rgb(173, 173, 173);
      
  }
  main section.portfolio i{
    font-family: italic;
    font-size: 18px;
    color: #605e5e;
    display: block;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 105px;
  
  }
  
  
  main section div.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  main section.banner div.overlay article h1,
  main section.banner div.overlay article h3 {
    color: var(--white-color);
    text-align: center;
  }
  
  main section.banner div.overlay article h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    letter-spacing: 22px;
  }
  
  main section.banner div.overlay article h3 {
    font-size: 20px;
    font-weight: 300;
    font-family: var(--secondary-font);
    letter-spacing: 16px;
  }
  
  main section.portfolio article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  
  main section.portfolio article aside {
    width: 100%;
    height: 741px;
    background-image: url("https://static.wixstatic.com/media/9a25f2_02943437f88d4071b653d38d98acd984~mv2_d_2647_1766_s_2.png/v1/fit/w_960,h_960,q_90/9a25f2_02943437f88d4071b653d38d98acd984~mv2_d_2647_1766_s_2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  main section.portfolio article aside div.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    opacity: 0;
    transition: 0.5s ease;
  }
  
  main section.portfolio article aside div.overlay:hover {
    opacity: 1;
  }
  
  main section.portfolio article aside:nth-child(2) {
    background-image: url("https://static.wixstatic.com/media/9a25f2_c7182e792f064e2985f4a3654d787b53~mv2_d_4200_2800_s_4_2.jpg/v1/fit/w_960,h_960,q_90/9a25f2_c7182e792f064e2985f4a3654d787b53~mv2_d_4200_2800_s_4_2.webp");
  }
  main section.portfolio article aside:nth-child(3) {
    background-image: url(https://static.wixstatic.com/media/9a25f2_20d44dc58cb34083a1841ecad62405e1~mv2_d_4200_2800_s_4_2.jpg/v1/fill/w_1256,h_1256,q_90/9a25f2_20d44dc58cb34083a1841ecad62405e1~mv2_d_4200_2800_s_4_2.webp);
  }
  main section.portfolio article aside:nth-child(4) {
    background-image: url(https://static.wixstatic.com/media/9a25f2_05d792483b604f8a83c972f07477c33d~mv2_d_4200_2800_s_4_2.jpg/v1/fill/w_1256,h_1256,q_90/9a25f2_05d792483b604f8a83c972f07477c33d~mv2_d_4200_2800_s_4_2.webp);
  }
  main section.portfolio article aside:nth-child(5) {
    background-image: url(https://static.wixstatic.com/media/9a25f2_9c5929f486ec454ca37a34131686d0f4~mv2_d_2647_1766_s_2.png/v1/fill/w_1256,h_1256,q_90/9a25f2_9c5929f486ec454ca37a34131686d0f4~mv2_d_2647_1766_s_2.webp);
  }
  main section.portfolio article aside:nth-child(6) {
    background-image: url(https://static.wixstatic.com/media/9a25f2_ea9b3175b9db4897b1269f8836acf2ca~mv2_d_4256_2832_s_4_2.jpg/v1/fill/w_1256,h_1256,q_90/9a25f2_ea9b3175b9db4897b1269f8836acf2ca~mv2_d_4256_2832_s_4_2.webp);
  }
  main section.portfolio article aside:nth-child(7) {
    background-image: url(https://static.wixstatic.com/media/9a25f2_503cc0687ca94d5388423b6dddad2c48~mv2_d_7360_4912_s_4_2.jpg/v1/fill/w_1256,h_1256,q_90/9a25f2_503cc0687ca94d5388423b6dddad2c48~mv2_d_7360_4912_s_4_2.webp);
  }
  main section.portfolio article aside:nth-child(8) {
    background-image: url(https://static.wixstatic.com/media/9a25f2_d1f2ab46fec94c389da36281a1253780~mv2_d_4200_2800_s_4_2.jpg/v1/fill/w_1256,h_1256,q_90/9a25f2_d1f2ab46fec94c389da36281a1253780~mv2_d_4200_2800_s_4_2.webp);
  }
  main section.portfolio article aside:nth-child(9) {
    background-image: url(https://static.wixstatic.com/media/9a25f2_5d554e976a66440b8a95c8fce0d40022~mv2_d_4372_6758_s_4_2.jpg/v1/fill/w_1256,h_1256,q_90/9a25f2_5d554e976a66440b8a95c8fce0d40022~mv2_d_4372_6758_s_4_2.webp);
  }
  main section.clients i{
    font-family:italic;
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    color: var(--active-color);
  
  }
  main section.clients div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.clients p{
    width: 600px;
    height: 128px;
    display: flex;
    text-align: center;
    justify-content: center;
    font:20px var(--primary-font);
    line-height: 1.6em;
    margin-bottom: 45px;
    color: var(--black-color);
  }
  
  main section.contact i{
    font-family:italic;
    font-size: 18px;
    color: var(--active-color);
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
  
  
  }
  
  main section.email{
    width: 631px;
    height: 340.2px;
    margin-bottom: 79px;
    display:flex;
    flex-direction: column;
    justify-content: left;
  
  }
  section.email h2{
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    font-family: var(--primary-font) ;
    font-size: 20px;
    font-weight: 400;
    color: var(--black-color);
  }
  section.email div.secondmail{
    display:flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 14px;
    padding-right: 34px;
  
  }
  section.email div.secondmail i{
    font-size: 18px;
    font-family: serif;
    font-weight: normal;
    color: var(--active-color);
    margin-bottom: 9px;
  }
  
  section.email div.emails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  main section.email form input{
    width: 415.400px;
    height: 34.400px;
    padding: 3px 3px 3px 21px;
    border: 0.800px solid black;
  
  }
  main section.email form input:hover{
    width: 412px;
    height: 31.5px;
    border: 2.4px solid black; ;
  
  }
  main section.email form input:focus{
    width: 412px;
    height: 31.5px;
    border: 2.4px solid black; ;
  }
  main section.email div.emails button  {
    border: none;
    background: none;
    
  }
  main section.email div.emails button span{
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--black-color);
  }
  main section.email div.emails button span:hover{
  color: var(--green-color);
  }
  main section.email div.contactinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  main section.email div.contactinfo span{
      font-size: 20px;
      line-height: 36px;
      color: var(--black-color);
      font-family: sans-serif;
      font-weight: 300;
  }
  
  main section.email div.contactinfo a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 20px;
    line-height: 36px;
    font-family: sans-serif;
    font-weight: 300;
  }
  
  section.bottom {
    width: 100%;
    height: 79px;
    background-color: var(--white-color);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 80px;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section.bottom nav#icons ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  section.bottom nav#icons ul li{
    width: 22px;
    height: 22px;
    margin-right:10px;
  }